[profile.default]
# Mark tests that take longer than 10s as slow.
# Terminate after 120s as a stop-gap measure to terminate on deadlock.
slow-timeout =  { period = "10s", terminate-after = 12 }

[test-groups]
serial = { max-threads = 1 }
# 3 seems like a sensible tradeoff between reducing individual test time
# without bloating the total test time
io-bound = { max-threads = 3 }

[[profile.default.overrides]]
filter = 'test(native_auth)'
test-group = 'serial'

[[profile.default.overrides]]
filter = 'package(uv-keyring)'
test-group = 'serial'

[[profile.default.overrides]]
platform = 'cfg(target_os = "windows")'
filter = 'test(python_install::)'
test-group = 'io-bound'
